---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro"
import HeroSection from "../sections/Hero.astro"
import CarrouserlCard from "../sections/Carrousel-cards.astro"
import Sponsors from "../sections/Sponsors.astro";
import Cards from "../sections/Cards.astro"
---

<Layout title="KWASKU">
    <main>
        <Nav />
        <HeroSection />
        <Sponsors />
        <CarrouserlCard />
        <Cards />
        <br>
        <br>

	</main>
</Layout>


