---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro"
import HeroSection from "../sections/Hero.astro"
import CarrouserlCard from "../sections/Carrousel-cards.astro"
import Sponsors from "../sections/Sponsors.astro";
import Cards from "../sections/Cards.astro"
import Bento from "../sections/Bento.astro";
---

<Layout title="KWASKU">
    <main class="w-9/12 m-auto overflow-hidden">
        <Nav />
        <HeroSection />
        <Sponsors />
        <CarrouserlCard />
        <Cards />
        <Bento />

	</main>
</Layout>


