---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro"
import HeroSection from "../sections/Hero.astro"
import CarrouserlCard from "../sections/Carousel-cards.astro"
import Sponsors from "../sections/Sponsors.astro";
import Cards from "../sections/Cards.astro"
import Bento from "../sections/Bento.astro";
import AboutUs from "../sections/About-us.astro";
import Metrics from "../sections/Metrics.astro"
import Services from "../sections/Services.astro";
import Rates from "../sections/Rates.astro";
---

<Layout title="KWASKU">
    <main class="w-7/12 m-auto">
        <Nav />
        <HeroSection />
        <Sponsors />
        <CarrouserlCard />
        <Cards />
        <Bento />
        <AboutUs />
        <Metrics />
        <Services />
        <Rates />
        <br><br><br><br><br><br><br><br>

	</main>
</Layout>


