---
const text = `Travelling Is A Wonderful Way To Explore New Places, Learn
                    About Different Cultures, And Gain Unique Experiences.
                    Travelling Is A Wonderful Way To Explore New Places, Learn
                    About Different.`

---
<div class="flex flex-row mt-32">
    <div class="w-1/3">
        <button class="top-0 right-0 rounded-3xl bg-gray-bg uppercase px-6 py-4 text-sm">
            ABOUT US
        </button>
    
    </div>
    <div class="w-2/3 flex flex-col gap-6">
        <p class="text-xl font-semibold">
            Travelling Is A Wonderful Way To Explore New Places, Learn About
            Different Cultures, And Gain Unique Experiences. Travelling Is A
            Wonderful Way To Explore New Places, Learn About Different.
        </p>
        <div class="flex flex-row">
          <article class="w-1/2 text-sm flex flex-row">
            <div class="h-full w-2 bg-primary"></div>
            <p class="px-4 text-gray-text">
              {text}
            </p>
          </article>
          <article class="w-1/2 text-sm flex flex-row">
            <div class="h-full w-2 bg-primary"></div>
            <p class="px-4 text-gray-text">
              {text}
            </p>
          </article>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

