<section class="overflow-hidden -mx-32">
    <div class="bg-gradient-to-r from-cyan-500 to-blue-500  rounded-[50px] bg-no-repeat bg-cover h-96 m-7 grid grid-cols-2 relative overflow-visible mr-32">
        <div class="flex justify-center flex-col items-center pl-28">
            <h3 class="uppercase text-md text-left w-full">Elevate your travel journey</h3>
            <h1 class="text-5xl font-bold">Experience The Magic Of Flight!</h1>

        </div>
        <div>
            <img src="mochila.png" alt="mochila quechua" class="w-96 animate-float absolute right-[-150px]">
        </div>
    </div>
</section>
