---
import AirbnbLogo from "../components/Airbnb-logo.astro";
import BookingLogo from "../components/Booking-logo.astro"
import Redes from "../components/Redes.astro";
import ExpediaLogo from "../components/Expedia-logo.astro"
import TrivagoLogo from "../components/Trivago-logo.astro"
---

<div class="flex justify-between mb-16 mt-8">
    <div
        class="flex gap-3 border border-gray-text/10 rounded-full items-center py-3 px-7"
    >
        <p class="font-medium text-gray-text">Follow</p>
        <Redes />
    </div>

    <div class="flex justify-between text-gray-400 gap-10">
        <div class="flex items-center">
           <AirbnbLogo >
        </div>
        <div class="flex items-center">
            <BookingLogo >
        </div>
        <div class="flex items-center">
            <TrivagoLogo >
        </div>
        <div class="flex items-center">
            <ExpediaLogo >
        </div>
    </div>
</div>
